<footer class="site-footer-wrap">
  <div class="container-md site-footer">
    <div class="row">
      <div class="col-12 text-center">

        <ul class="list-inline footer-links" role="list">
          {% if site.social-network-links.email %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="mailto:{{ site.social-network-links.email }}" aria-label="Email">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.social-network-links.google-scholar %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="{{ site.social-network-links.google-scholar }}" target="_blank" aria-label="Google Scholar">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="ai ai-google-scholar fa-stack-1x fa-inverse" style="font-size: 1.5em; line-height: 1.35em;"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.social-network-links.github %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="https://github.com/{{ site.social-network-links.github }}" aria-label="GitHub">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse" style="font-size: 1.25em;"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.social-network-links.orcid %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="{{ site.social-network-links.orcid }}" target="_blank" aria-label="ORCID">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                
                <svg class="fa-stack-1x" viewBox="0 0 24 24" style="fill: white; width: 1.15em; height: 1.15em; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                  <path d="M7.369 4.378c.541 0 .983.44.983.983s-.442.983-.983.983-.983-.44-.983-.983.442-.983.983-.983zm1.492 10.74H6.62V7.91h2.241v7.208zm1.143-7.208h3.593c2.72 0 4.432 1.94 4.432 3.604 0 1.664-1.712 3.604-4.432 3.604h-3.593V7.91zm2.241 5.334h1.352c1.352 0 2.191-1.041 2.191-1.73s-.839-1.73-2.191-1.73h-1.352v3.46z"/>
                </svg>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.social-network-links.orcid %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="{{ site.social-network-links.orcid }}" target="_blank" aria-label="ORCID">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-orcid fa-stack-1x fa-inverse" style="font-size: 2em;"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.social-network-links.researchgate %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="{{ site.social-network-links.researchgate }}" target="_blank" aria-label="ResearchGate">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="ai ai-researchgate fa-stack-1x fa-inverse" style="font-size: 1.5em; line-height: 1.35em;"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.social-network-links.linkedin %}
          <li class="list-inline-item">
            <a class="footer-icon-link" href="{{ site.social-network-links.linkedin }}" target="_blank" aria-label="LinkedIn">
              <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse" style="font-size: 1.05em;"></i>
              </span>
            </a>
          </li>
          {% endif %}

          
        </ul>

        <p class="site-footer-text">
          {% if site.author %}{{ site.author }} · {% endif %}
          {{ 'now' | date: "%Y" }}
        </p>

      </div>
    </div>
  </div>
</footer>
