<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}
  {% if site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-social.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/lab-base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom-styles.css' | relative_url }}">
</head>
